## Initialization

In [1]:
import pandas as pd
import numpy as np
import keras

Using Theano backend.

## Importing the Data

In [2]:
dataset = pd.read_excel('Dataset.xls')
dataset.shape

(30000, 24)

In [3]:
dataset.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Create X and Y

In [4]:
Y = dataset.iloc[:, 23].values
Y.shape

(30000,)

In [5]:
Y[0]

1

In [6]:
X = dataset.iloc[:, 0:23].values
X.shape

(30000, 23)

In [7]:
X[0]

array([20000,     2,     2,     1,    24,     2,     2,    -1,    -1,
          -2,    -2,  3913,  3102,   689,     0,     0,     0,     0,
         689,     0,     0,     0,     0], dtype=int64)

## Preprocess the Data

In [8]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [9]:
le_X = LabelEncoder()
X[:, 1] = le_X.fit_transform(X[:, 1])

In [10]:
le_X = LabelEncoder()
X[:, 2] = le_X.fit_transform(X[:, 2])

In [11]:
le_X = LabelEncoder()
X[:, 3] = le_X.fit_transform(X[:, 3])

In [12]:
ohe_X = OneHotEncoder(categorical_features = [1])
X = ohe_X.fit_transform(X).toarray()
X = X[:, 1:]

In [13]:
ohe_X = OneHotEncoder(categorical_features = [2])
X = ohe_X.fit_transform(X).toarray()
X = X[:, 1:]

In [14]:
ohe_X = OneHotEncoder(categorical_features = [8])
X = ohe_X.fit_transform(X).toarray()
X = X[:, 1:]

In [15]:
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [16]:
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.093780,-1.066471,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,-0.667993,-0.672497,-0.663059,-0.652724,-0.341942,-0.227086,-0.296801,-0.308063,-0.314136,-0.293382
1,-0.914261,0.937672,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,-0.639254,-0.621636,-0.606229,-0.597966,-0.341942,-0.213588,-0.240005,-0.244230,-0.314136,-0.180878
2,-0.914261,0.937672,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,-0.482408,-0.449730,-0.417188,-0.391630,-0.250292,-0.191887,-0.240005,-0.244230,-0.248683,-0.012122
3,1.093780,-1.066471,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,0.032846,-0.232373,-0.186729,-0.156579,-0.221191,-0.169361,-0.228645,-0.237846,-0.244166,-0.237130
4,1.093780,-1.066471,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,-1.234323,...,-0.161189,-0.346997,-0.348137,-0.331482,-0.221191,1.335034,0.271165,0.266434,-0.269039,-0.255187

## Create Train and Test Data

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 4)

In [18]:
pd.DataFrame(pd.DataFrame(Y_train)[0].value_counts())

       0
0  18726
1   5274

In [19]:
pd.DataFrame(pd.DataFrame(Y_test)[0].value_counts())

      0
0  4638
1  1362

## Create and train the Classifier

In [20]:
from keras.models import Sequential
from keras.layers import Dense

In [21]:
clf_ann = Sequential()

clf_ann.add(Dense(output_dim = 15, init = 'uniform', activation = 'relu', input_dim = 30))

clf_ann.add(Dense(output_dim = 15, init = 'uniform', activation = 'relu'))

clf_ann.add(Dense(output_dim = 15, init = 'uniform', activation = 'relu'))

# Output Layer
clf_ann.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compile the ANN
clf_ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Train the ANN on the Training Set
clf_ann.fit(X_train, Y_train, batch_size = 10, nb_epoch = 100)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=30, activation="relu", kernel_initializer="uniform", units=15)`
  app.launch_new_instance()
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", kernel_initializer="uniform", units=15)`
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", kernel_initializer="uniform", units=15)`
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", kernel_initializer="uniform", units=1)`
C:\Users\user\Anaconda3\lib\site-packages\keras\models.py:844: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/100
24000/24000 [==============================] - 5s - loss: 0.4840 - acc: 0.7886
Epoch 2/100
24000/24000 [==============================] - 5s - loss: 0.4498 - acc: 0.8170
Epoch 3/100
24000/24000 [==============================] - 5s - loss: 0.4444 - acc: 0.8184
Epoch 4/100
24000/24000 [==============================] - 5s - loss: 0.4425 - acc: 0.8190
Epoch 5/100
24000/24000 [==============================] - 4s - loss: 0.4417 - acc: 0.8192
Epoch 6/100
24000/24000 [==============================] - 5s - loss: 0.4406 - acc: 0.8201
Epoch 7/100
24000/24000 [==============================] - 5s - loss: 0.4402 - acc: 0.8194
Epoch 8/100
24000/24000 [==============================] - 5s - loss: 0.4388 - acc: 0.8207
Epoch 9/100
24000/24000 [==============================] - 5s - loss: 0.4377 - acc: 0.8208
Epoch 10/100
24000/24000 [==============================] - 4s - loss: 0.4353 - acc: 0.8210
Epoch 11/100
24000/24000 [==============================] - 4s - loss: 0.4339 - acc: 0.8219
Epoch 12/100
24000/24000 [==============================] - 4s - loss: 0.4317 - acc: 0.8222
Epoch 13/100
24000/24000 [==============================] - 4s - loss: 0.4309 - acc: 0.8225
Epoch 14/100
24000/24000 [==============================] - 4s - loss: 0.4303 - acc: 0.8222
Epoch 15/100
24000/24000 [==============================] - 4s - loss: 0.4289 - acc: 0.8227
Epoch 16/100
24000/24000 [==============================] - 5s - loss: 0.4284 - acc: 0.8232
Epoch 17/100
24000/24000 [==============================] - 4s - loss: 0.4286 - acc: 0.8222
Epoch 18/100
24000/24000 [==============================] - 4s - loss: 0.4282 - acc: 0.8225
Epoch 19/100
24000/24000 [==============================] - 4s - loss: 0.4279 - acc: 0.8231
Epoch 20/100
24000/24000 [==============================] - 4s - loss: 0.4271 - acc: 0.8230     - ETA: 1s - loss: 0.4218 - acc: 0.827 - ETA: 1s
Epoch 21/100
24000/24000 [==============================] - 4s - loss: 0.4274 - acc: 0.8232
Epoch 22/100
24000/24000 [==============================] - 4s - loss: 0.4266 - acc: 0.8228
Epoch 23/100
24000/24000 [==============================] - 4s - loss: 0.4264 - acc: 0.8212
Epoch 24/100
24000/24000 [==============================] - 4s - loss: 0.4257 - acc: 0.8242     - ETA: 0s - loss: 0.4256 - acc: 0.82
Epoch 25/100
24000/24000 [==============================] - 4s - loss: 0.4254 - acc: 0.8224
Epoch 26/100
24000/24000 [==============================] - 4s - loss: 0.4253 - acc: 0.8230
Epoch 27/100
24000/24000 [==============================] - 4s - loss: 0.4251 - acc: 0.8233
Epoch 28/100
24000/24000 [==============================] - 4s - loss: 0.4250 - acc: 0.8228
Epoch 29/100
24000/24000 [==============================] - 4s - loss: 0.4244 - acc: 0.8229
Epoch 30/100
24000/24000 [==============================] - 4s - loss: 0.4242 - acc: 0.8237
Epoch 31/100
24000/24000 [==============================] - 4s - loss: 0.4241 - acc: 0.8230
Epoch 32/100
24000/24000 [==============================] - 4s - loss: 0.4238 - acc: 0.8245     - ETA: 0s - loss: 0.4238 - acc
Epoch 33/100
24000/24000 [==============================] - 4s - loss: 0.4229 - acc: 0.8239
Epoch 34/100
24000/24000 [==============================] - 4s - loss: 0.4230 - acc: 0.8238
Epoch 35/100
24000/24000 [==============================] - 4s - loss: 0.4223 - acc: 0.8237
Epoch 36/100
24000/24000 [==============================] - 4s - loss: 0.4219 - acc: 0.8240
Epoch 37/100
24000/24000 [==============================] - 4s - loss: 0.4217 - acc: 0.8244     - ET
Epoch 38/100
24000/24000 [==============================] - 4s - loss: 0.4213 - acc: 0.8253
Epoch 39/100
24000/24000 [==============================] - 4s - loss: 0.4211 - acc: 0.8243     - ETA: 0s - loss: 0.4210 - acc
Epoch 40/100
24000/24000 [==============================] - 4s - loss: 0.4214 - acc: 0.8246
Epoch 41/100
24000/24000 [==============================] - 4s - loss: 0.4211 - acc: 0.8245     - ETA: 2s - loss: 0.4229 - acc -
Epoch 42/100
24000/24000 [==============================] - 5s - loss: 0.4206 - acc: 0.8249
Epoch 43/100
24000/24000 [==============================] - 5s - loss: 0.4205 - acc: 0.8247
Epoch 44/100
24000/24000 [==============================] - 4s - loss: 0.4204 - acc: 0.8253     - ETA: 0s - loss: 0.4207 - ac
Epoch 45/100
24000/24000 [==============================] - 5s - loss: 0.4201 - acc: 0.8253
Epoch 46/100
24000/24000 [==============================] - 6s - loss: 0.4195 - acc: 0.8248
Epoch 47/100
24000/24000 [==============================] - 5s - loss: 0.4198 - acc: 0.8242
Epoch 48/100
24000/24000 [==============================] - 5s - loss: 0.4199 - acc: 0.8242     - ETA: 1s -
Epoch 49/100
24000/24000 [==============================] - 5s - loss: 0.4198 - acc: 0.8241
Epoch 50/100
24000/24000 [==============================] - 6s - loss: 0.4192 - acc: 0.8243
Epoch 51/100
24000/24000 [==============================] - 6s - loss: 0.4188 - acc: 0.8253
Epoch 52/100
24000/24000 [==============================] - 5s - loss: 0.4188 - acc: 0.8244
Epoch 53/100
24000/24000 [==============================] - 5s - loss: 0.4186 - acc: 0.8253
Epoch 54/100
24000/24000 [==============================] - 5s - loss: 0.4186 - acc: 0.8244     - ETA: 2s - loss: 0.41 - ETA: 1s -
Epoch 55/100
24000/24000 [==============================] - 5s - loss: 0.4183 - acc: 0.8248
Epoch 56/100
24000/24000 [==============================] - 5s - loss: 0.4178 - acc: 0.8250
Epoch 57/100
24000/24000 [==============================] - 5s - loss: 0.4175 - acc: 0.8247
Epoch 58/100
24000/24000 [==============================] - 5s - loss: 0.4178 - acc: 0.8251
Epoch 59/100
24000/24000 [==============================] - 5s - loss: 0.4178 - acc: 0.8247
Epoch 60/100
24000/24000 [==============================] - 5s - loss: 0.4178 - acc: 0.8241
Epoch 61/100
24000/24000 [==============================] - 5s - loss: 0.4176 - acc: 0.8248
Epoch 62/100
24000/24000 [==============================] - 5s - loss: 0.4167 - acc: 0.8255
Epoch 63/100
24000/24000 [==============================] - 4s - loss: 0.4169 - acc: 0.8256
Epoch 64/100
24000/24000 [==============================] - 4s - loss: 0.4169 - acc: 0.8241
Epoch 65/100
24000/24000 [==============================] - 4s - loss: 0.4168 - acc: 0.8251
Epoch 66/100
24000/24000 [==============================] - 4s - loss: 0.4171 - acc: 0.8247
Epoch 67/100
24000/24000 [==============================] - 4s - loss: 0.4165 - acc: 0.8241
Epoch 68/100
24000/24000 [==============================] - 4s - loss: 0.4164 - acc: 0.8245     - ETA: 0s - loss: 0.41
Epoch 69/100
24000/24000 [==============================] - 4s - loss: 0.4164 - acc: 0.8251
Epoch 70/100
24000/24000 [==============================] - 4s - loss: 0.4165 - acc: 0.8256
Epoch 71/100
24000/24000 [==============================] - 4s - loss: 0.4159 - acc: 0.8245
Epoch 72/100
24000/24000 [==============================] - 4s - loss: 0.4160 - acc: 0.8248
Epoch 73/100
24000/24000 [==============================] - 4s - loss: 0.4156 - acc: 0.8250
Epoch 74/100
24000/24000 [==============================] - 4s - loss: 0.4154 - acc: 0.8248
Epoch 75/100
24000/24000 [==============================] - 4s - loss: 0.4157 - acc: 0.8250
Epoch 76/100
24000/24000 [==============================] - 4s - loss: 0.4155 - acc: 0.8256
Epoch 77/100
24000/24000 [==============================] - 4s - loss: 0.4157 - acc: 0.8238     - ETA: 0s - loss: 0.4154 - acc: 0.824
Epoch 78/100
24000/24000 [==============================] - 4s - loss: 0.4156 - acc: 0.8250
Epoch 79/100
24000/24000 [==============================] - 4s - loss: 0.4150 - acc: 0.8259     - ETA: 1s -
Epoch 80/100
24000/24000 [==============================] - 4s - loss: 0.4147 - acc: 0.8250
Epoch 81/100
24000/24000 [==============================] - 4s - loss: 0.4146 - acc: 0.8259
Epoch 82/100

24000/24000 [==============================] - 3s - loss: 0.4146 - acc: 0.8255     - ETA: 0s - loss: 0.4147 -
Epoch 83/100
24000/24000 [==============================] - 4s - loss: 0.4146 - acc: 0.8256
Epoch 84/100
24000/24000 [==============================] - 4s - loss: 0.4148 - acc: 0.8260
Epoch 85/100
24000/24000 [==============================] - 4s - loss: 0.4138 - acc: 0.8258
Epoch 86/100
24000/24000 [==============================] - 3s - loss: 0.4146 - acc: 0.8258
Epoch 87/100
24000/24000 [==============================] - 2s - loss: 0.4142 - acc: 0.8259
Epoch 88/100
24000/24000 [==============================] - 2s - loss: 0.4143 - acc: 0.8258     - ETA: 1s - loss: 0.4133 - acc: 0.824 - ETA: 1s - loss: 0.4146 -  - ETA: 0s - loss: 0
Epoch 89/100
24000/24000 [==============================] - 1s - loss: 0.4137 - acc: 0.8274     - ETA: 0s - loss: 0.4131 - acc:
Epoch 90/100
24000/24000 [==============================] - 1s - loss: 0.4135 - acc: 0.8258
Epoch 91/100
24000/24000 [==============================] - 1s - loss: 0.4140 - acc: 0.8255     - ETA:  - ETA: 0s - loss: 0.4140 - acc: 0.825
Epoch 92/100
24000/24000 [==============================] - 1s - loss: 0.4138 - acc: 0.8264     - ETA: 1s - loss: 0.4109 - acc: 0.83 - ETA: 1s - ETA: 0s - loss: 0.4135 - acc: 0.82
Epoch 93/100
24000/24000 [==============================] - 1s - loss: 0.4136 - acc: 0.8264     - ETA: 1s - loss:
Epoch 94/100
24000/24000 [==============================] - 1s - loss: 0.4133 - acc: 0.8256
Epoch 95/100
24000/24000 [==============================] - 1s - loss: 0.4132 - acc: 0.8269     - ETA: 1s - loss: 0.4154  - ETA: 0s - loss: 0.4127 - acc: 0.82 - ETA: 0s - loss: 0.4112 - acc: 0.82 - ETA: 0s - loss: 0.4129 - acc: 0.8 - ETA: 0s - loss: 0.4113 - acc: 0.82 - ETA: 0s - loss: 0.4124 - acc: 0
Epoch 96/100
24000/24000 [==============================] - 2s - loss: 0.4127 - acc: 0.8265     - ETA: 0s - loss: 0.4127 - acc: 0
Epoch 97/100
24000/24000 [==============================] - 1s - loss: 0.4131 - acc: 0.8252     - ETA: 1s - loss: 0.410 - ETA: 0s - loss: 0.4112 - acc: 0 - ETA: 0s - loss: 0.4117 - acc: 0.8 - ETA: 0s - loss: 0.4112 - acc: 0.
Epoch 98/100
24000/24000 [==============================] - 1s - loss: 0.4130 - acc: 0.8269     - ETA: 1s - loss: 0.4099 - acc: 0 - ETA: 1s - ETA: 0s - loss: 0.4131 - acc: 0.826
Epoch 99/100
24000/24000 [==============================] - 2s - loss: 0.4128 - acc: 0.8267     - ETA: 1s - loss:  - ETA: 0s - loss: 0.4138 - acc: - ETA: 0s - loss: 0.4136 - acc: 0.82
Epoch 100/100
24000/24000 [==============================] - 2s - loss: 0.4123 - acc: 0.8260     - ETA: 1s - loss: 0.4094 - acc:  - ETA: 1s - loss: 0.4099 - acc:  - ETA: 0s - loss:

In [22]:
Y_pred = clf_ann.predict(X_test)
Y_pred = (Y_pred > 0.5)

## Check the Accuracy

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [24]:
accuracy_score(Y_test, Y_pred)

0.8175

In [25]:
confusion_matrix(Y_test, Y_pred)

array([[4416,  222],
       [ 873,  489]], dtype=int64)