## Initialization

In [1]:
import pandas as pd
import numpy as np
import keras

Using Theano backend.

## Importing the Data

In [3]:
dataset = pd.read_excel('Dataset.xls')
dataset.shape

(30000, 24)

In [4]:
dataset.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Create X and Y

In [5]:
Y = dataset.iloc[:, 23].values
Y.shape

(30000,)

In [6]:
Y

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [7]:
X = dataset.iloc[:, 0:23].values
X.shape

(30000, 23)

In [8]:
X

array([[ 20000,      2,      2, ...,      0,      0,      0],
       [120000,      2,      2, ...,   1000,      0,   2000],
       [ 90000,      2,      2, ...,   1000,   1000,   5000],
       ...,
       [ 30000,      1,      2, ...,   4200,   2000,   3100],
       [ 80000,      1,      3, ...,   1926,  52964,   1804],
       [ 50000,      1,      2, ...,   1000,   1000,   1000]], dtype=int64)

## Preprocess the Data

In [9]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [11]:
le_X = LabelEncoder()
X[:, 1] = le_X.fit_transform(X[:, 1])

In [12]:
le_X = LabelEncoder()
X[:, 2] = le_X.fit_transform(X[:, 2])

In [13]:
le_X = LabelEncoder()
X[:, 3] = le_X.fit_transform(X[:, 3])

In [14]:
ohe_X = OneHotEncoder(categorical_features = [1])
X = ohe_X.fit_transform(X).toarray()
X = X[:, 1:]

In [15]:
ohe_X = OneHotEncoder(categorical_features = [2])
X = ohe_X.fit_transform(X).toarray()
X = X[:, 1:]

In [16]:
ohe_X = OneHotEncoder(categorical_features = [8])
X = ohe_X.fit_transform(X).toarray()
X = X[:, 1:]

In [113]:
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [114]:
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.093780,-1.066471,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,-0.667993,-0.672497,-0.663059,-0.652724,-0.341942,-0.227086,-0.296801,-0.308063,-0.314136,-0.293382
1,-0.914261,0.937672,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,-0.639254,-0.621636,-0.606229,-0.597966,-0.341942,-0.213588,-0.240005,-0.244230,-0.314136,-0.180878
2,-0.914261,0.937672,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,-0.482408,-0.449730,-0.417188,-0.391630,-0.250292,-0.191887,-0.240005,-0.244230,-0.248683,-0.012122
3,1.093780,-1.066471,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,0.810161,...,0.032846,-0.232373,-0.186729,-0.156579,-0.221191,-0.169361,-0.228645,-0.237846,-0.244166,-0.237130
4,1.093780,-1.066471,-0.104326,-0.738375,1.0669,-0.442752,-0.064163,-0.097063,-0.041266,-1.234323,...,-0.161189,-0.346997,-0.348137,-0.331482,-0.221191,1.335034,0.271165,0.266434,-0.269039,-0.255187

## Create Train and Test Data

In [115]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 4)

In [116]:
pd.DataFrame(pd.DataFrame(Y_train)[0].value_counts())

       0
0  18726
1   5274

In [117]:
pd.DataFrame(pd.DataFrame(Y_test)[0].value_counts())

      0
0  4638
1  1362

## Create and train the Classifier

In [118]:
from keras.models import Sequential
from keras.layers import Dense

In [159]:
clf_ann = Sequential()

clf_ann.add(Dense(output_dim = 15, init = 'uniform', activation = 'relu', input_dim = 30))

clf_ann.add(Dense(output_dim = 15, init = 'uniform', activation = 'relu'))

clf_ann.add(Dense(output_dim = 15, init = 'uniform', activation = 'relu'))

# Output Layer
clf_ann.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compile the ANN
clf_ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Train the ANN on the Training Set
clf_ann.fit(X_train, Y_train, batch_size = 10, nb_epoch = 100)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=15, activation="relu", kernel_initializer="uniform", input_dim=30)`
  app.launch_new_instance()
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=15, activation="relu", kernel_initializer="uniform")`
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=15, activation="relu", kernel_initializer="uniform")`
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1, activation="sigmoid", kernel_initializer="uniform")`
C:\Users\user\Anaconda3\lib\site-packages\keras\models.py:844: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/100
24000/24000 [==============================] - 1s - loss: 0.4865 - acc: 0.7834
Epoch 2/100
24000/24000 [==============================] - 1s - loss: 0.4689 - acc: 0.8043
Epoch 3/100
24000/24000 [==============================] - 1s - loss: 0.4664 - acc: 0.8088
Epoch 4/100
24000/24000 [==============================] - 1s - loss: 0.4659 - acc: 0.8109
Epoch 5/100
24000/24000 [==============================] - 1s - loss: 0.4644 - acc: 0.8107
Epoch 6/100
24000/24000 [==============================] - 1s - loss: 0.4647 - acc: 0.8111
Epoch 7/100
24000/24000 [==============================] - 1s - loss: 0.4639 - acc: 0.8128
Epoch 8/100
24000/24000 [==============================] - 1s - loss: 0.4641 - acc: 0.8121
Epoch 9/100
24000/24000 [==============================] - 1s - loss: 0.4644 - acc: 0.8115     - ETA: 1s - l
Epoch 10/100
24000/24000 [==============================] - 1s - loss: 0.4640 - acc: 0.8131     - ETA: 0s - loss: 0.4652 -
Epoch 11/100
24000/24000 [==============================] - 1s - loss: 0.4637 - acc: 0.8133
Epoch 12/100
24000/24000 [==============================] - 1s - loss: 0.4629 - acc: 0.8127     - ETA: 0s - loss: 0.4619 - acc
Epoch 13/100
24000/24000 [==============================] - 1s - loss: 0.4623 - acc: 0.8124
Epoch 14/100
24000/24000 [==============================] - 1s - loss: 0.4460 - acc: 0.8169
Epoch 15/100
24000/24000 [==============================] - 1s - loss: 0.4422 - acc: 0.8179     - ETA: 0s - loss: 0.4450
Epoch 16/100
24000/24000 [==============================] - 1s - loss: 0.4400 - acc: 0.8196
Epoch 17/100
24000/24000 [==============================] - 1s - loss: 0.4384 - acc: 0.8191     - ETA: 1s - loss: 0.431 - ETA: 0s - loss: 0.4387 - acc:
Epoch 18/100
24000/24000 [==============================] - 1s - loss: 0.4380 - acc: 0.8202     - ETA: 0s - loss: 0.4395 -
Epoch 19/100
24000/24000 [==============================] - 1s - loss: 0.4373 - acc: 0.8215     - ETA: 0s - loss: 0.4416 - ETA: 0s - loss: 0.4369 - acc: 0.821
Epoch 20/100
24000/24000 [==============================] - 1s - loss: 0.4359 - acc: 0.8210
Epoch 21/100
24000/24000 [==============================] - 1s - loss: 0.4349 - acc: 0.8217     - ETA: 1s - loss: 0.4303 - acc: 0.8 - ETA: 0s - loss: 0.4327 - acc:  - ETA: 0s - loss: 0.4346 -
Epoch 22/100
24000/24000 [==============================] - 1s - loss: 0.4346 - acc: 0.8211
Epoch 23/100
24000/24000 [==============================] - 1s - loss: 0.4333 - acc: 0.8216     - ETA: 0s - loss: 0.4357
Epoch 24/100
24000/24000 [==============================] - 1s - loss: 0.4329 - acc: 0.8218     - ETA: 0s - loss: 0.43 - ETA: 0s - loss: 0.4320 - acc: 0.82
Epoch 25/100
24000/24000 [==============================] - 1s - loss: 0.4325 - acc: 0.8219     - ETA: 0s - loss: 0.43
Epoch 26/100
24000/24000 [==============================] - 1s - loss: 0.4315 - acc: 0.8209
Epoch 27/100
24000/24000 [==============================] - 1s - loss: 0.4311 - acc: 0.8230     - ETA: 0s - loss: 0.4307 - acc: 0.82
Epoch 28/100
24000/24000 [==============================] - 1s - loss: 0.4306 - acc: 0.8227
Epoch 29/100
24000/24000 [==============================] - 1s - loss: 0.4301 - acc: 0.8225
Epoch 30/100
24000/24000 [==============================] - 1s - loss: 0.4299 - acc: 0.8232     - ETA: 0s - loss: 0.424
Epoch 31/100
24000/24000 [==============================] - 1s - loss: 0.4296 - acc: 0.8232
Epoch 32/100
24000/24000 [==============================] - 1s - loss: 0.4290 - acc: 0.8232
Epoch 33/100
24000/24000 [==============================] - 1s - loss: 0.4283 - acc: 0.8229     - ETA: 0s - loss: 0.4290 - acc: 0.8 - ETA: 0s - loss: 0.4294 - acc: 0.82
Epoch 34/100
24000/24000 [==============================] - 1s - loss: 0.4280 - acc: 0.8218     - ETA: 0s - loss: 0.4279 - acc: 0.821
Epoch 35/100
24000/24000 [==============================] - 1s - loss: 0.4271 - acc: 0.8241     - ETA: 1s - los
Epoch 36/100
24000/24000 [==============================] - 1s - loss: 0.4276 - acc: 0.8229     - ETA: 0s - loss: 0.4286 - acc: 0.
Epoch 37/100
24000/24000 [==============================] - 1s - loss: 0.4273 - acc: 0.8235     - ETA: 0s - loss: 0.4282 -
Epoch 38/100
24000/24000 [==============================] - 1s - loss: 0.4267 - acc: 0.8242
Epoch 39/100
24000/24000 [==============================] - 1s - loss: 0.4267 - acc: 0.8247     - ETA: 0s - loss: 0.4258 - acc: 0.8
Epoch 40/100
24000/24000 [==============================] - 1s - loss: 0.4270 - acc: 0.8240
Epoch 41/100
24000/24000 [==============================] - 1s - loss: 0.4268 - acc: 0.8240
Epoch 42/100
24000/24000 [==============================] - 1s - loss: 0.4260 - acc: 0.8220     - ETA: 0s - loss: 0.4234 - ETA: 0s - loss: 0.4263 - acc: 0.8
Epoch 43/100
24000/24000 [==============================] - 1s - loss: 0.4257 - acc: 0.8240     - ETA: 0s - loss: 0.4253 -
Epoch 44/100
24000/24000 [==============================] - 1s - loss: 0.4259 - acc: 0.8230     - ETA: 0s - loss: 0.4276
Epoch 45/100
24000/24000 [==============================] - 1s - loss: 0.4260 - acc: 0.8234
Epoch 46/100
24000/24000 [==============================] - 1s - loss: 0.4260 - acc: 0.8234
Epoch 47/100
24000/24000 [==============================] - 1s - loss: 0.4258 - acc: 0.8239
Epoch 48/100
24000/24000 [==============================] - 1s - loss: 0.4256 - acc: 0.8235     - ETA: 0s - loss: 0.4281 -
Epoch 49/100
24000/24000 [==============================] - 1s - loss: 0.4251 - acc: 0.8232
Epoch 50/100
24000/24000 [==============================] - 1s - loss: 0.4250 - acc: 0.8239
Epoch 51/100
24000/24000 [==============================] - 1s - loss: 0.4244 - acc: 0.8240
Epoch 52/100
24000/24000 [==============================] - 1s - loss: 0.4248 - acc: 0.8239     - ETA: 0s - loss: 0.4256 - acc: 0.82
Epoch 53/100
24000/24000 [==============================] - 1s - loss: 0.4242 - acc: 0.8232
Epoch 54/100
24000/24000 [==============================] - 1s - loss: 0.4248 - acc: 0.8239
Epoch 55/100
24000/24000 [==============================] - 1s - loss: 0.4248 - acc: 0.8237     - ETA: 1s -
Epoch 56/100
24000/24000 [==============================] - 1s - loss: 0.4241 - acc: 0.8233
Epoch 57/100
24000/24000 [==============================] - 1s - loss: 0.4236 - acc: 0.8235
Epoch 58/100
24000/24000 [==============================] - 1s - loss: 0.4242 - acc: 0.8238
Epoch 59/100
24000/24000 [==============================] - 1s - loss: 0.4239 - acc: 0.8239     - ETA: 1s - l
Epoch 60/100
24000/24000 [==============================] - 1s - loss: 0.4234 - acc: 0.8237
Epoch 61/100
24000/24000 [==============================] - 1s - loss: 0.4238 - acc: 0.8242     - ETA: 0s - loss: 0.4235 - ac
Epoch 62/100
24000/24000 [==============================] - 1s - loss: 0.4231 - acc: 0.8228     - ETA: 1s - loss: 0.4152 - - ETA: 0s - loss: 0.4214 - ac
Epoch 63/100
24000/24000 [==============================] - 1s - loss: 0.4231 - acc: 0.8235
Epoch 64/100
24000/24000 [==============================] - 1s - loss: 0.4229 - acc: 0.8243     - ETA: 0s - loss: 0.4227 -
Epoch 65/100
24000/24000 [==============================] - 1s - loss: 0.4232 - acc: 0.8235     - ETA: 0s - loss: 0.4251 - acc: 0 - ETA: 0s - loss: 0.4232 -
Epoch 66/100
24000/24000 [==============================] - 1s - loss: 0.4229 - acc: 0.8240
Epoch 67/100
24000/24000 [==============================] - 1s - loss: 0.4231 - acc: 0.8251     - ETA: 0s - loss:
Epoch 68/100
24000/24000 [==============================] - 1s - loss: 0.4227 - acc: 0.8237
Epoch 69/100
24000/24000 [==============================] - 1s - loss: 0.4223 - acc: 0.8234     - ETA: 0s - loss: 0.4178 - acc: - ETA: 0s - loss: 0.4228 - a
Epoch 70/100
24000/24000 [==============================] - 1s - loss: 0.4220 - acc: 0.8241     - ETA: 0s - loss: 0.4215 - acc: 0.824
Epoch 71/100
24000/24000 [==============================] - 2s - loss: 0.4223 - acc: 0.8244     - ETA: 0s - loss: 0.416
Epoch 72/100

24000/24000 [==============================] - 1s - loss: 0.4220 - acc: 0.8242     - ETA: 0s - loss: 0.4237 - acc: 0 - ETA: 0s - loss: 0.4238 - acc:
Epoch 73/100
24000/24000 [==============================] - 1s - loss: 0.4218 - acc: 0.8252     - ETA: 1s - loss: 0.4258 -  - ETA: 1s - los
Epoch 74/100
24000/24000 [==============================] - 1s - loss: 0.4219 - acc: 0.8241     - ETA: 0s - loss: 0.4258 - acc: - ETA: 0s - loss: 0.4228 - ac
Epoch 75/100
24000/24000 [==============================] - 1s - loss: 0.4212 - acc: 0.8238     - ETA: 0s - loss: 0.41
Epoch 76/100
24000/24000 [==============================] - 1s - loss: 0.4218 - acc: 0.8236     - ETA: 1s - loss: 0.4207 - acc:  - ETA: 0s - loss: 0.4225 - acc: 0 - ETA: 0s - loss: 0.4239 - acc: - ETA: 0s - loss: 0.4216 - acc: 0.823 - ETA: 0s - loss: 0.4222 - acc: 0.8
Epoch 77/100
24000/24000 [==============================] - 1s - loss: 0.4212 - acc: 0.8237     - ETA: 1s - loss: 0.4116 - acc: 0.82 - ETA: 1s - loss - ETA: 0s - loss: 0.4205 - acc: 0.8
Epoch 78/100
24000/24000 [==============================] - 2s - loss: 0.4202 - acc: 0.8238     - ETA: 1s - loss - ETA: 0s - loss: 0.4201 - acc: 0.8
Epoch 79/100
24000/24000 [==============================] - 1s - loss: 0.4208 - acc: 0.8243
Epoch 80/100
24000/24000 [==============================] - 1s - loss: 0.4212 - acc: 0.8251     - ETA: 1s - loss: 0.4221 -  - ETA: 1s - loss: 0.4249 - acc: - ETA: 0s - loss: 0.428
Epoch 81/100
24000/24000 [==============================] - 1s - loss: 0.4207 - acc: 0.8252     - ETA: 1s - loss: 0.4388 - acc: - ETA: 1s - loss: 0.4304 - ETA: 0s - loss: 0.4254
Epoch 82/100
24000/24000 [==============================] - 1s - loss: 0.4210 - acc: 0.8240     - ETA: 0s - loss: 0.42
Epoch 83/100
24000/24000 [==============================] - 1s - loss: 0.4206 - acc: 0.8250     - ETA: 1s - loss: 0.4052 - acc: 0.83 - ETA: 1s - loss: 0.4100 - acc:  - ETA: 1s - lo
Epoch 84/100
24000/24000 [==============================] - 1s - loss: 0.4203 - acc: 0.8240     - ETA: 1s - loss: 0.41 - ETA: 0s - loss: 0.4183 - acc:  - ETA: 0s - loss: 0.4226 - acc:
Epoch 85/100
24000/24000 [==============================] - 2s - loss: 0.4203 - acc: 0.8244
Epoch 86/100
24000/24000 [==============================] - 2s - loss: 0.4202 - acc: 0.8247     - ETA: 1s - l - ETA: 0s - loss: 0.4203 - acc: 0.824
Epoch 87/100
24000/24000 [==============================] - 2s - loss: 0.4206 - acc: 0.8240
Epoch 88/100
24000/24000 [==============================] - 2s - loss: 0.4199 - acc: 0.8249     - ETA: 1s -
Epoch 89/100
24000/24000 [==============================] - 2s - loss: 0.4196 - acc: 0.8245     - ETA: 0s - loss: 0.4209 - acc: 0
Epoch 90/100
24000/24000 [==============================] - 2s - loss: 0.4199 - acc: 0.8255     - ETA: 0s - loss: 0.4190 - acc: - ETA: 0s - loss: 0.4188 - acc: 0.82
Epoch 91/100
24000/24000 [==============================] - 2s - loss: 0.4197 - acc: 0.8247     -  - ETA: 0s - loss: 0.4194 - acc: 0.8
Epoch 92/100
24000/24000 [==============================] - 2s - loss: 0.4195 - acc: 0.8246     - ETA: 1s - loss: 0.4226 - acc: 0.822 - ETA:  - ETA: 0s - loss: 0.4206 - acc: 0.82
Epoch 93/100
24000/24000 [==============================] - 2s - loss: 0.4197 - acc: 0.8247     - ETA: 0s - loss: 0.4213 - ac
Epoch 94/100
24000/24000 [==============================] - 2s - loss: 0.4188 - acc: 0.8247     - ETA: 1s - lo - ETA: 0s - loss: 0.4194 -  - ETA: 0s - loss: 0.4183 - acc: 0.8
Epoch 95/100
24000/24000 [==============================] - 2s - loss: 0.4195 - acc: 0.8253     - ETA:  - ETA: 0s - loss: 0.4197 - acc: 0.825
Epoch 96/100
24000/24000 [==============================] - 2s - loss: 0.4189 - acc: 0.8239     - ETA: 0s - loss: 0.4222 - a - ETA: 0s - loss: 0.4193 - acc: 0.8
Epoch 97/100
24000/24000 [==============================] - 2s - loss: 0.4192 - acc: 0.8244     - ETA: 1s - loss - ETA: 0s - loss: 0.4216 - acc - ETA: 0s - loss: 0.4216 - acc: 0.
Epoch 98/100
24000/24000 [==============================] - 2s - loss: 0.4192 - acc: 0.8245     - ETA: 1s -  - ETA: 0s - loss: 0.4188 - acc: 0
Epoch 99/100
24000/24000 [==============================] - 2s - loss: 0.4187 - acc: 0.8250     - ETA: 1s
Epoch 100/100
24000/24000 [==============================] - 2s - loss: 0.4185 - acc: 0.8248     - ETA: 1s - loss: 0.4243 - ac - ETA: 1s - loss: 0.4231 - acc: 0.8 - ETA: 0s - loss: 0.

In [160]:
Y_pred = clf_ann.predict(X_test)
Y_pred = (Y_pred > 0.5)

## Check the Accuracy

In [161]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [162]:
accuracy_score(Y_pred, Y_test)

0.81599999999999995

In [163]:
confusion_matrix(Y_pred, Y_test)

array([[4432,  898],
       [ 206,  464]], dtype=int64)